 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


@font-face {
    font-family: 'Gilroy';
    src: url(../font/Gilroy/Gilroy-Bold.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../font/Gilroy/Gilroy-Medium.woff2) format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../font/Gilroy/Gilroy-Regular.woff2) format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../font/Gilroy/Gilroy-SemiBold.woff2) format('woff2');
    font-weight: 700;
}

