@import url(./fonts.css);
@import url(./common.css);
@import url(./reset.css);

/****** no-scroll */
#wrapper.no-scroll{
    background: rgba(0,0,0,0.65);
    overflow: hidden;
}
/****** fixed */
.header .group-banner.fixed{
    display: none;
}
.header  .group-top.fixed{
    background: #fff;
    top: 0;
    position: fixed;
}
.header  .gnb.fixed{
   visibility: visible;
   position: fixed;
   top: 56px;
}
.header  .gnb .sub-category-list.on{opacity: 1;}

.header .group-top .logo .svg-logo.fixed
{fill:#212721;}

.header .group-top .util-area .btn .svg-category.fixed{
    fill: #212721;
}
.header .group-top .util-area .btn .svg-search.fixed{
    fill: #212721;
}
.header .group-top .util-area .link .svg-cart.fixed{
    fill: #212721;
}
.header .group-top .util-area .link .svg-mypage.fixed{
    fill: #212721;
}

/* header */
.header{
   position: absolute;
   top: 0; left: 0;
   width: 100%;
   z-index: 30;
}

/* header 1.group-banner */
.header  .group-banner{
    height: 40px;
}
.header  .group-banner .banner-slide{
    height: 100%;
}
.header  .group-banner .swiper-wrapper{
    display: flex;
}
.header  .group-banner .swiper-slide{
    height: 100%;
    background: #030303;
}
.header  .group-banner .swiper-slide .link-ad{
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 100%;
}
.header  .group-banner .link-ad .txt{
    font-weight: 400;
}
.header  .group-banner .link-ad .txt.bold{
    font-weight: 700;
}
.header  .group-banner .link-ad .ic-kakao{
    width: 17px;
    height: 18px;
    margin-left: 7px; 
    margin-bottom: 2px;
}
.header  .group-banner .link-ad .ic-arrow{
    width: 24px;
    height: 16px;
    margin-bottom: 4px;
}

/* header 2.group-top */
.header  .group-top{
    height: 56px;
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    width: 100%;
}
.header  .group-top .logo{
    width: 87px;
    height: 23px;
    position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
}
.header  .group-top .logo a{
    display: block; 
    width: 100%;
    height: 100%;
}
.header  .group-top .util-area{
    display: flex;   
}
.header  .group-top .util-area .btn,
.header  .group-top .util-area .link
{
    display: inline-block;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header  .group-top .util-area  .link.cart{
    position: relative; 
}
.header  .group-top .util-area  .link.cart .count{
    position: absolute;
    right: -9px;
    top: 0;
    width: 16px;
    line-height: 16px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    font-size: 11px;
    text-align: center;
}

/* header 3.gnb */
.gnb{
    width: 100%;
    visibility: hidden;
}
.gnb .category-list{
    justify-content: space-between;
    background: #fff;
}
.gnb .category-list::after{
    position: absolute;
    top: 0;right: 0;
    width: 100px;
    height: 45px;
    z-index: 40;
    background: rgb(255,255,255);
    background: linear-gradient(270deg,rgb(255,255,255,1) 0%, rgb(255,199,0,0) 100%);
    pointer-events: none;
    content: '';
}
.gnb .category-list,
.gnb  .sub-category-list{
    padding: 11px 10px 11px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.gnb .category-list .wrap{
    overflow-x: auto;
    display: flex;
    width: calc(100% - 40px);
}
.gnb .category-list .wrap::-webkit-scrollbar{
    display: none;
}
.gnb  .btn-all{
    background: url(../img/btn_open.png);
    background-repeat: no-repeat;
    background-size: 12px auto;
    width: 12px;
    height: 12px;
    margin-top: 6px;
}
.gnb  .btn-all.on{
    transform: rotate(180deg);
    margin-bottom: 6px;
    margin-top: 0;
}
.gnb .sub-category-list{
    background: #F6F6F6;
    border-top: 1px solid #dcdcdc;
    width: 100%;
    z-index: -10;
    transition: all 0.3s;
    width: 100%;
    opacity: 0;
}
.gnb .sub-category-list .category-item{
    padding: 8px 17px;
    margin: 3px 3px;
    border: 1px solid #ebebeb;
    border-radius: 100px;
    box-sizing: border-box;
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    letter-spacing: -0.05em;
}
.gnb .category-item.none{
    display: none;
}

/*** side-nav */

.side-nav{
    position: fixed;
    background: #fff;
    left: -100%;
    top: 0;
    z-index: 31;
    width: 81.94%;
    font-size: 11px;
    transition: all 0.7s;
    overflow-y: scroll;
    height: 100%;
}
.side-nav.open{
    left: 0;
}
.side-nav.close{
    left: -100%;
}
/* side-nav group-login */
.side-nav .group-login{
    padding: 32px 16px 30px;
    border-bottom: 1px solid #ddd;
}
.side-nav .group-login .btn-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.side-nav .btn-area .login-box{
    display: flex;
    gap: 6px;
}
.side-nav .btn-area .login-box .btn{
    padding: 10px 26px;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    font-weight: 700;
    border-radius: 2px;
}
.side-nav .btn-area .login-box .btn.login{
    background: #0e0e0e;
}
.side-nav .btn-area .login-box .btn.join{
    background: #fff;
    border: 1px solid #ccc;
    color: #333 ;
}
.side-nav .btn-area .btn-close{
    background: url(../img/btn_close.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.side-nav .group-login .txt-area{
    color: #777;
    padding-top: 15px;
    font-size: 13px;
}
.side-nav .group-login .txt-area .bold{
    font-weight: 700;
}
/* side-nav group-other */
.side-nav .group-other{
    padding: 0 16px;
}
.side-nav .category-area .top-box,
.side-nav .category-area .bottom-box{
    display: flex;
    flex-direction: column;
    padding: 18px 0 11px;
}
.side-nav .category-area .bottom-box{
    border-top: 1px solid #ddd;
}
.side-nav .category-area .category-list{
    display: flex;
    flex-direction: column;
}
.side-nav .category-area .category-item{
    position: relative;
}
.side-nav .category-area .category-item .txt{
    padding: 15px 0;
    color: #333;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    line-height: 1.2em;
    display: inline-block;
}
.side-nav .category-item .btn-sub{
    width: 28px; height: 28px;
    position: absolute;
    top: 0; right: 0;
    background: url(../img/btn_down.png);
    background-repeat: no-repeat;
    transition: all 0.2s;
}
.side-nav .category-item .btn-sub.on{
   transform: rotate(180deg);
   transition: all 0.2s;
}
.side-nav .category-area .category-item a{
    display: inline-block; 
}
.side-nav .category-item .sub{
    padding-bottom: 15px;
    display: none;
}
.side-nav .category-item .sub li a{
    display: block;
    padding: 11px 0;
    color: #848484;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.5px;
}
.side-nav .event-area{
    border-top: 1px solid #ddd;
    margin: 0 0 30px;
}
.side-nav .event-area .headline{
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #333;
    font-weight: 500;
    padding: 20px 0 16px;
}
.side-nav .event-area .img-area a{
    display: block;
}
.side-nav .event-area .txt-box{
    letter-spacing: -0.02em;
    color: #777;
    position: relative;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}
.side-nav .event-area .txt-box .title{
    margin: 12px 0 6px;
    display: block;
    font-size: 14px;
    line-height: 18px;
    color: #222;
}
.side-nav .txt-box .desc{
    font-weight: 400;
    display: block;
}
.side-nav .txt-box .btn-all{
    position: absolute;
    right: 0; top: 0;
}
.side-nav .info-area{
    display: flex;
    width: 100%;
    padding-bottom: 30px;
}
.side-nav .info-area .btn:first-child{
    position: relative;
}
.side-nav .info-area .btn:first-child::after{
    content: '';
    display: inline-block;
    height: 16px; 
    width: 1px;
    background: #ccc;
    position: absolute;
    top: 50%; transform: translateY(-50%);
    right: 0;
}
.side-nav .info-area .btn{
    text-align: center;
    display: block;
    width: 50%;
    background: #F2F2F2;
    padding: 14px 0;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #777;
}
.side-nav .recent-area{
    padding-bottom: 70px;
}
.side-nav .recent-area .headline{
    color: #333;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}
.side-nav .recent-area .product-list{
    display: flex;
    padding: 20px 0;
    gap: 14px;
}
.side-nav .product-list .product-item{
    width: 25%;
    max-width: 70px;
}
.side-nav .product-list .product-item a{
    display: block;
    width: 100%; height: 100%;
}
.side-nav .product-list .product-item a img{
    max-width: 100%;
    height: auto;
}
.side-nav .recent-area .btn-all{
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px 48px 10px 18px;
    color: #777;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.03em;
    position: relative;
    display: inline-block;
} 
.side-nav .recent-area .ico-all{
    background: url(../img/aside_more_btn.png);
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: right center;
    width: 25px;
    height: 15px;
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
}

/*** dimmed */
.dimmed{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    position: fixed;
    top: 0; left: 0;
    z-index: 30;
    display: none;
}
.dimmed.on{
    display: block;
}


/*** popup-search */
.popup-search{
    background: url(../img/search_bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 30;
    display: none;
}
.popup-search.on{
    display: block;
}
.popup-search .search-inner{
    padding: 0 9.72%;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}
.popup-search .search-inner form fieldset{
    height: 45px;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.popup-search fieldset .input-text{
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 300;
    line-height: 43px;
    letter-spacing: -0.5px;
    color: #fff;
}
.popup-search fieldset .input-text::placeholder{
    color: #fff;
}
.popup-search fieldset .btn-submit{
    background: url(../img/ic-search.svg);
    width: 19px;
    height: 19px;
}
.popup-search fieldset .btn-submit .svg-popup-search{
    fill: #fff;
}
.popup-search .btn-close{
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 18px;
    padding: 18px 4.17%;
    background: url(../img/close_search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px auto;
    margin-top: 18px;
}


/* footer */
.footer{
    background: #fafafa;
    padding: 30px 16px 30px;
    color: #555;
    line-height: 20px;
    width: 100%;
    overflow: hidden;
}
/* .footer .group-top */
.footer .group-top .logo{
    width: 90px;
    padding-bottom: 10px;
    overflow: hidden;
}
.footer .group-top .logo a{
    display: block; width: 100%; height: 100%;
}
.footer .group-top .title{
    font-size: 14px;
    line-height: 20px;
}
.footer .group-top .call-area{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.footer .group-top .call-area .center{
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    padding-top: 24px;
    padding-bottom: 5px;
}
.footer .group-top .call-area .call{
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    padding-bottom: 10px;
}
.footer .group-top .call-area .time+.time{
    padding-top: 5px;
}
.footer .group-top .call-area .time{
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}
.footer .group-top .sns-list{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 22px;
}
.footer .sns-list .sns-item{
    margin-right: 25px;
}
.footer .sns-list .sns-item a img{
    height: 22px;
}
.footer .group-top .menu-list{
    display: flex;
    padding: 12px 0 12px;
    gap: 5px;
    flex-wrap: wrap;
}
.footer .menu-list .menu-item{
    position: relative;
    padding-right: 10px;
    margin-right: 5px;
}
.footer .menu-list .menu-item:last-child::after{
    display: none;
}
.footer .menu-list .menu-item::after{
    content: '';
    height: 10px;
    background: #ccc;
    width: 1px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%; transform: translateY(-50%);
}
.footer .menu-list .menu-item a{
    font-size: 12px;
    line-height: 1.7;
    color: #777;
    padding: 4px 0;
    font-weight: 700;
}

/* .footer .group-bottom  */
.footer .group-bottom .addr-area .addr, .addr.box{
    line-height: 21px;
    color: #777;
    font-size: 11px;
}
.footer .group-bottom .addr-area .addr.box{
    display: flex;
    flex-wrap: wrap;
}
.footer .group-bottom .addr-area .addr.box span::after{
    display: inline-block;
    content: '';
    height: 10px; 
    width: 1px;
    background: #ccc;
    margin: 0 10px;
}
.footer .group-bottom .addr-area .addr.box .none::after{
    content: none;
}
.footer .group-bottom .copy-area{
    padding-top: 30px;
    font-weight: 700;
    color: #777;
    font-size: 11px;
}
.footer .group-bottom .copy-area .name{
    font-weight: 300;
}
.footer .group-bottom .support-list{
    display: flex;
    margin-top: 24px;
    gap: 22px;
    align-items: end;
}
.footer .support-list .support-item a{
    display: block;
}
.footer .support-list .support-item.ftc a{
    width: 45px;
}
.footer .support-list .support-item.symantec a{
    width: 36px;
}
.footer .support-list .support-item.kg a{
    width: 27px;
    padding-bottom: 4px;
}

/* .footer .group-quick */
.footer .group-quick{
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 20;
    width: 50px;
    border: 1px solid #e9e9e9;
    background-color: rgba(255,255,255,0.7);
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}
.footer .group-quick.show{
    opacity: 1;
    visibility:visible;
}
.footer .group-quick .btn-box{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer .group-quick .btn-box+.btn-box{
    border-top: 1px solid #e9e9e9;
}
.footer .group-quick .btn-box .kakao{
    height: 30px;
    background-image: url(../img/kakao_chat.png);
    background-size: 35px 30px;
    background-repeat: no-repeat;
    margin-top: 4px;
}
.footer .group-quick .btn-box .txt{
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.04em;
    font-weight: 500;
    color: #595959;
    text-align: center;
}
.footer .group-quick .btn-box .top{
    height: 24px;
    padding: 24px 20px 14px;
    background-image: url(../img/btn_top.png);
    background-size: 19px auto;
    background-repeat: no-repeat;
    background-position: center;
}